/*main*/
html {
  font-family: MS PGothic, monospace;
  background-color: #1d2723;
  color: #9DA748;
}

p {
  font-family: monospace;
  line-height: 1.4em;
  font-size: 1.1em;
  color: #C5C7A9;
}

a:link, a:visited{
  color: #c4845a;
}

* {
  box-sizing: border-box;
}

.flavour{
  color:#CD5709;
}

.container {
  display:flex;
  justify-content: center;
  flex-flow:row wrap;
  align-items: flex-start;
  width:60%;
  margin:auto;
  padding: 30px;
  gap: 25px 50px;
}

.main{
  order: 1;
  flex: 6 1 50%;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  padding: 10px 100px 30px 50px;
}

/*nav*/
nav {
  flex-basis: 100%;
  order: -1;
  font-family: monospace;
  display:flex;
  gap: 15px;
  justify-content: center;
}
a.current {
    color: #CD5709;
}

nav a{
  min-width: 80px;
  text-align: center;
  display:block;
}

nav a:hover{
  font-style:italic;
  letter-spacing: .2rem;
}

/*sidebar*/
.sidebar{
  order: 2;
  flex: 0 1 250px;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  padding: 10px 25px 15px 25px;
}



